
@{
    ViewData["Title"] = "Relax";
}


<div class="hero">
    
    <div class="bubbles">
        <img src="~/images/bubble.png" />
        <img src="~/images/bubble.png" />
        <img src="~/images/bubble.png" />
        <img src="~/images/bubble.png" />
        <img src="~/images/bubble.png" />
        <img src="~/images/bubble.png" />
        <img src="~/images/bubble.png" />
    </div>
</div>
