@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    string userName = UserManager.GetUserName(User);
    IdentityUser user = await UserManager.FindByNameAsync(userName);
    @if (user != null && await UserManager.IsInRoleAsync(user, "admin"))
    {
        <ul class="navbar-nav navbar-right">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @userName
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a asp-area="" asp-controller="Admin" asp-action="Index" class="dropdown-item"> Пользователи  </a>
                    <a asp-area="" asp-controller="Admin" asp-action="GetRoles" class="dropdown-item"> Роли </a>
                    <a asp-area="" asp-controller="Account" asp-action="ChangePassword"
                       asp-route-name="@UserManager.GetUserName(User)" class="dropdown-item">Смена пароля</a>
                    <form asp-area="" asp-controller="Account" asp-action="Logout" class="dropdown-item">
                        <button type="submit" class="btn btn-link navbar-btn navbar-link"> Выход </button>
                    </form>
                </div>
            </li>
        </ul>
    }
    else if (user != null && await UserManager.IsInRoleAsync(user, "manager"))
    {
        <ul class="navbar-nav navbar-right">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @userName
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a asp-area="" asp-controller="Manager" asp-action="GetOrdersNumber" class="dropdown-item"> Статистика по заказам  </a>
                    <a asp-area="" asp-controller="Manager" asp-action="GetSmallNumberOfBooks" class="dropdown-item"> Остатки по книгам </a>
                    <a asp-area="" asp-controller="Manager" asp-action="GetBestsellerList" class="dropdown-item"> Лучшие продажи </a>
                    <a asp-area="" asp-controller="Books" asp-action="Index" class="dropdown-item">Управление книгами</a>
                    <a asp-area="" asp-controller="Account" asp-action="ChangePassword"
                       asp-route-name="@UserManager.GetUserName(User)" class="dropdown-item">Смена пароля</a>
                    <form asp-area="" asp-controller="Account" asp-action="Logout" class="dropdown-item">
                        <button type="submit" class="btn btn-link navbar-btn navbar-link"> Выход </button>
                    </form>
                </div>
            </li>
        </ul>
    }
    else
    {
        <ul class="navbar-nav navbar-right">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @UserManager.GetUserName(User)
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a asp-area="" asp-controller="Client" asp-action="Index" class="dropdown-item"> Профиль </a>
                    <a asp-area="" asp-controller="Client" asp-action="GetPurchaseHistory" class="dropdown-item"> Покупки </a>
                    <a asp-area="" asp-controller="Client" asp-action="Relax" class="dropdown-item"> Релаксация </a>
                    <a asp-area="" asp-controller="Account" asp-action="ChangePassword"
                       asp-route-name="@UserManager.GetUserName(User)" class="dropdown-item">Смена пароля</a>
                    <form asp-area="" asp-controller="Account" asp-action="Logout" class="dropdown-item">
                        <button type="submit" class="btn btn-link navbar-btn navbar-link"> Выход </button>
                    </form>
                </div>
            </li>
        </ul>
    }
}
else
{
    <ul class="navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Account" asp-action="Register" class="nav-link">_Регистрация_</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login" class="btn btn-secondary"> Вход </a></li>
    </ul>
}


